<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ea64221feb.js" crossorigin="anonymous"></script>
    <title>GameAssembly - Tienda de Componentes Gamer</title>
    <link rel="stylesheet" href="css/style_main.css">
    <style>
        
    </style>
</head>

<body>
    <header>
        <div class="container">
            <h2>GameAssembly</h2>
            <nav>
                <i class="fa-solid fa-cart-shopping">
                    <div class="buy-card">
                        <ul class="nav-card">
                            <li>Nombre</li>
                            <li>Precio</li>
                            <li>Cantidad</li>
                            <li>Total</li>
                        </ul>
                        <button id="vaciar">Vaciar carrito</button>
                    </div>
                </i>
            </nav>
        </div>
    </header>

    <main>
        <section class="catalogo">
            <h2 id="title">Últimos Componentes Gamer</h2>
            <div class="container" id="content_products">
                <!-- Productos irán aquí -->
            </div>
        </section>

       <a href="/login">
    <button class="boton-login">
        <i class="fa-solid fa-right-to-bracket"></i> </button>
</a>
        <aside class="sidebar">
            <h2>Categorías</h2>
            <ul>
                <li><a href="#">Procesadores</a></li>
                <li><a href="#">Tarjetas Gráficas</a></li>
                <li><a href="#">Placas Base</a></li>
                <li><a href="#">Disco Duro</a></li>
                <li><a href="#">Memorias RAM</a></li>
                <li><a href="#">Monitor</a></li>
                <li><a href="#">Auriculares</a></li>
                <li><a href="#">Teclado</a></li>
                <li><a href="#">Mouse</a></li>
                <li><a href="#">Otros</a></li>
            </ul>
        </aside>
    </main>

    <script type="module" src="main.js"></script>
</body>

</html>
