<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameAssembly</title>
    <link rel="stylesheet" href="css/style_products.css">
</head>
<body>
    <header>
        <div class="container1">
            <h2>Registro de los productos</h2>
        </div>
    </header>
    <div class="Table_product">
        <table id="productTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>titulo</th>
                    <th>stock</th>
                    <th>precio</th>
                    <th>descripcion</th>
                    <th>Categoria</th>
                    <th>Imagen</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
        <div class="container">
            <a href="/Admin-create"><button>Crear producto</button></a>
            <a href="/"><button>volver</button></a>
        </div>
        
    </div>
    
    <script type="module" src="products.js"></script>
</body>
</html>