body {
    
    background-image: url("Purple\ Night\ [3840x2160]\ _\ wallpaper\ _\ 3840x2160\ wallpaper\,\ Computer\ wallpaper\ hd\,\ Wallpaper\ pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255,255,255, 0.8);
    max-width: 400px;
    width: 100%;
    background-color:  rgba(255,255,255, 0.8);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color:black;
    
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color:black;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
/* styles.css */
