body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6449b9;
    color: white;
    padding: 10px 0;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

header .container1 {
    width: 90%;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h2 {
    margin: 0;
}

.Table_product {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    color: black;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%; /* Puedes ajustar el ancho según tus necesidades */
}

thead {
    background: rgba(55, 219, 252, 0.4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(31, 143, 128, 0.451);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(31, 143, 128, 0.451);
}

.editar-btn {
    background-color: #90EE90;
    border: none; 
    color: black; 
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
}

.editar-btn:hover {
    background-color: #77dd77; /* Color más oscuro al pasar el ratón */
}

.eliminar-btn {
    background-color: #FF7F7F; /* Rojo suave */
    border: none; /* Sin borde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
}

.eliminar-btn:hover {
    background-color: #FF4C4C; /* Color más oscuro al pasar el ratón */
}

